<p id="notice"><%= notice %></p>

<h1>Your Get Away Bus</h1>

<h3 class="text-muted">Your Current Location</h3>

<p class="text-muted">
  <%= @location.full_street_address %><small><%= link_to fa_icon('pencil', text: 'Edit'), edit_location_path(@location) %></small>
</p>

<h3>The closest buses are...</h3>

<% @buses.each do |bus| %>
<p>
  <strong>Route: </strong><%= bus ["ROUTE"] %> <%= bus["DIRECTION"] %> <br>
  <strong>Bus Number: </strong><%= bus["VEHICLE"] %> <br>
  <strong>Next Stop: </strong><%= bus["TIMEPOINT"] %>
</p>
<% end %>

<% if @buses.empty? %>
<p>
  Not really that close. (Time to walk, bike, taxo, Uber, Pogo Stick or <%= link_to 'Edit Your Location', edit_location_path(@location) %> )
</p>
<% end %>

<%= link_to 'Edit', edit_location_path(@location) %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>></script>
